<div id="content-wrapper">
    <div id="content">
    <div id="content-left">
        <p id="the-loai">Ảnh Mới</p>
        <script>
            $(document).ready(function(){
                $(".btn-like").click(function () {
                    $(this).data('clicked', true);
                    if($('.btn-like').data('clicked')) {
                        $(this).css('backgroundImage', 'url(./images/tick.png)' );
                        $('.btn-unlike').css('backgroundImage', 'url(./images/unlike.png)' );
                    }
                });


            });
        </script>

        <!--/* box cat*/-->
        <img src="./images/hotgirl.jpg" class="hinh-anh">
        <div class="thong-tin">
            <p class="tieu-de"><a href="">Xinh thế này ai chịu nổi :) </a></p>
            <div class="uploader">
                Đăng bởi <a href="">Hòa BK</a>
            </div>
            <div class="stats">
            <div class="view-comment">
                <span class="view" title="Views">109</span>
                <span class="comment" title="Comments">100</span>
            </div>

        <div class="likesWrapper">
            <button  class="btn-like" >
                <span name="like" class="ten">Like</span>
                <span name="luot-like" class="so-luot">100</span>
            </button>
            <button  class="btn-share" >
                <span name="like">Share</span>
            </button>
        </div>

            </div>
        </div>
        <!--/* box cat*/-->

        <!--/* box cat*/-->
        <img src="./images/hotgirl.jpg" class="hinh-anh">
        <div class="thong-tin">
            <p class="tieu-de"><a href="">Xinh thế này ai chịu nổi :) </a></p>
            <div class="uploader">
                Đăng bởi <a href="">Hòa BK</a>
            </div>
            <div class="stats">
                <div class="view-comment">
                    <span class="view" title="Views">109</span>
                    <span class="comment" title="Comments">100</span>
                </div>

                <div class="likesWrapper">
                    <button  class="btn-like" >
                        <span name="like" class="ten">Like</span>
                        <span name="luot-like" class="so-luot">100</span>
                    </button>
                    <button  class="btn-share" >
                        <span name="like">Share</span>
                    </button>
                </div>

            </div>
        </div>
        <!--/* box cat*/-->
        <a class="buttons nextListPage" href="" title="xem thêm, còn nhiều lắm">xem thêm, còn nhiều lắm</a>

    </div>





    <div id="content-right">
        <input id="head" type="submit" value="Top Ảnh Xem Nhiều Nhất">
        <!--/*box cat*/-->
        <div class="top-anh">
            <img src="./images/hotgirl1.jpg" class="hinh-anh-top">
            <div class="thong-tin-top-anh">
                <p class="tieu-de-top"><a href="">Girl xinh  :v </a></p>
                <div class="stats">
                    <div class="view-comment">
                        <span class="view" title="Views">109</span>
                        <span class="comment" title="Comments">100</span>
                        <span class="like" title="Likes" style="background: url(../images/like-top.png) no-repeat transparent;padding-left: 22px;  margin-right: 5px;  margin-left: 2px; ">100</span>
                    </div>
                </div>
            </div>
        </div>
        <!--/*box cat*/-->
        <!--/*box cat*/-->
        <div class="top-anh">
            <img src="./images/hotgirl1.jpg" class="hinh-anh-top">
            <div class="thong-tin-top-anh">
                <p class="tieu-de-top"><a href="">Girl xinh  :v </a></p>
                <div class="stats">
                    <div class="view-comment">
                        <span class="view" title="Views">109</span>
                        <span class="comment" title="Comments">100</span>
                        <span class="like" title="Likes" style="background: url(../images/like-top.png) no-repeat transparent;padding-left: 22px;  margin-right: 5px;  margin-left: 2px; ">100</span>
                    </div>
                </div>
            </div>
        </div>
        <!--/*box cat*/-->

        <div class="slider-wrapper futurico-theme">

            <div id="slider" class="nivoSlider">
                <img src="./images/slide1.jpg" alt="">
                <img src="./images/slide2.jpg" alt="">
                <img src="./images/slide3.jpg" alt="">
                <img src="./images/slide4.jpg" alt="">
            </div>
        </div>
    </div>

    </div>
</div>