<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><img src="images/logo.png" alt=""></a>
        </div>

        <% if (isLoggedIn) { %>
        <ul class="nav navbar-nav">

            <li class="active"><a href="#">Mới nhất</a></li>
            <li><a href="#">Nóng nhất</a></li>
            <li><a href="#">Ảnh của bạn</a></li>
        </ul>
        <% } else {%>
        <ul class="nav navbar-nav">

            <li class="active"><a href="#">Mới nhất</a></li>
            <li><a href="#">Nóng nhất</a></li>
        </ul>
        <% } %>


        <form class="navbar-form navbar-left">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Tìm kiếm">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
        <% if (isLoggedIn) { %>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/profile"><span class="fa fa-user"></span> Tài khoản</a></li>
            <li><a href="/uploadImage"><span class="fa fa-image"></span> Đăng ảnh</a></li>
            <li><a href="/logout"><span class="fa fa-sign-out"></span> Đăng xuất</a></li>
        </ul>
        <% } else {%>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/login"><span class="fa fa-sign-in"></span> Đăng nhập</a></li>
            <li><a href="/signup"><span class="fa fa-user"></span> Đăng ký</a></li>
        </ul>
        <% } %>
    </div>
</nav>