<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/content.css">
    <link rel="stylesheet" href="stylesheets/nivo-slider.css" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="javascripts/jquery.nivo.slider.pack.js"></script>

    <title>Title</title>
</head>
<body>
<script>
    $(window).load(function() {
        $('#slider').nivoSlider({
            directionNavHide: false,
            captionOpacity: 1
        });
    });
</script>
    <header>
        <% include header.ejs%>
    </header>
    <% include content.ejs%>
    <% include footer.ejs %>


</body>
</html>