#the-loai{font-size: 20px; font-weight: bold;margin-top: 5px;margin-bottom: 10px; }
/* Layout phần header */
#header-wrapper #header { margin: auto 0;  background-color:darkslategrey ;  position: fixed;  top: 0;  left: 0;  width: 100%;  height: 55px;}
   .head-logo img {
       float: left;  margin:5px 0 0 15% ;  width: 40px;  height: 40px;
    }
     .main-menu ul {
         list-style-type: none;  text-align: center;
    }
     .main-menu li {
         float: left;  width: 110px;     display: block; font-size: 22px;
     }
     .main-menu a {
         text-decoration: none;  color: floralwhite;  text-align: center;
     }
     a:hover {
         color: crimson;
     }
     .search {
          float: left;
     }
      .icon_search {
         border: none;  width: 20px;height: 20px;  background: url("../images/icon_search.png") no-repeat scroll left top transparent;  float: right;  margin-left: 5px;
     }
    .phu-menu ul {
        list-style-type: none;  text-align: center;
    }
    .phu-menu button {
         background-color: floralwhite;   border: 2px solid#7D7D7D;width: 120px;font-size: 20px;text-decoration: none;border-radius: 5px;
    }
    .phu-menu button:hover{ color: crimson}
/* Layout phần header */
/* Layout phần Content*/
#content-wrapper #content{margin: 55px 15% 0 15%;  padding-bottom: 100px; width: 85%;}
    #content-left{ float: left;width: 70%;}
    #content-right{float:left; width: 20%;}
    /*Layout Content-Left*/
    .hinh-anh{ width:55%;padding-bottom:5px;border-bottom: 1px solid #E2E2E3;float: left;margin-bottom: 20px;margin-right: 20px;}
    .thong-tin{  float: left;}
    .tieu-de {  color:darkslategray;font-weight: bold;font-size: 20px;   width: 320px;  margin: 0 0 3px;height: 40px;margin-bottom: 5px;}
    .tieu-de a {text-decoration: none}
    .tieu-de a:hover{color:firebrick}
    .uploader{    margin-bottom: 3px;  font-size: 15px;  color: #7D7D7D;}
    .stats {
        font-weight: bold;  width: 300px;  height: 30px;
}
    .stats .view-comment {  float: left; padding-top: 5px;}
    .stats .view {  background: url(../images/view.png) no-repeat transparent;margin-top: 5px;  padding-left: 22px;  margin-right: 5px;  margin-left: 2px;  }
    .stats .comment {  background: url(../images/comment.png) no-repeat transparent;margin-top: 5px;  padding-left: 20px;  margin-right: 5px;  }

.likesWrapper .btn-like{  float:left;background-color: #2b5bbb ;background-image: url("../images/like.png"); background-repeat:no-repeat;width: 100px;height: 27px; border-radius: 5px;}
            .ten {margin-left: 15px;color: #E2E2E3}
            .so-luot{ color: #E2E2E3}
.likesWrapper .btn-share {  background-color:#2b5bbb ;color:#E2E2E3;border-radius: 5px;width: 60px;height: 27px;float:left; }
a.nextListPage {
    display: block;
    margin-bottom: 10px;
    float: left;
    width: 95%;
    text-decoration: none;
}
.buttons {
    line-height: 30px;
    padding: 0 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: #00A5F0;
    color: white;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
    text-align: center;
}

/* Layout Content-Left*/

/*Layout Content-Right*/
    #content-right #head {  width: 300px;border-radius: 5px; background-color: teal;font-size: 20px;margin-top: 10px}
                    .top-anh{ width: 300px; margin-top: 10px;margin-bottom: 10px;height: 100px;}
                    .hinh-anh-top{float: left;width: 100px;height: 100px;margin-right: 10px;}
                    .tieu-de-top a { color:darkslategray;font-weight: bold;font-size: 15px;   width: 300px; ;height: 20px;padding-left: 8px;text-decoration: none}
                    .tieu-de-top a:hover{color:firebrick}
/*slide image*/
.futurico-theme.slider-wrapper {
    position: relative;
    width: 290px;
    height: 170px;
    margin: 0;
    padding: 5px;
    background: #141517;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.futurico-theme .nivoSlider {
    position: relative;
    width: 290px;
    height: 170px;
}

.futurico-theme .nivoSlider img {
    display: none;
    position: absolute;
    width: 290px;
    height: 170px;
    top: 0;
    left: 0;
    margin-bottom: 50px;
}
.futurico-theme .nivo-controlNav {
    position: absolute;
    bottom: -30px;
    left: 105px;
    margin-bottom: -5px;
}
.futurico-theme .nivo-controlNav a {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    text-indent: -9999px;
    background: #141517;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0, .5), 0px 1px 1px rgba(255,255,255, .05);
    -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0, .5), 0px 1px 1px rgba(255,255,255, .05);
    box-shadow: inset 0px 1px 1px rgba(0,0,0, .5), 0px 1px 1px rgba(255,255,255, .05);
}
.futurico-theme .nivo-controlNav a.active,
.futurico-theme .nivo-caption span {
    background: #a5cd4e;
    background: -moz-linear-gradient(top,  #a5cd4e 0%, #6b8f1a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#6b8f1a));
    background: -webkit-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
    background: -o-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
    background: -ms-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
    background: linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
    -webkit-box-shadow: inset 0px 1px 1px rgba(255,255,255, .4), 0px 1px 1px rgba(0,0,0, .3);
    -moz-box-shadow: inset 0px 1px 1px rgba(255,255,255, .4), 0px 1px 1px rgba(0,0,0, .3);
    box-shadow: inset 0px 1px 1px rgba(255,255,255, .4), 0px 1px 1px rgba(0,0,0, .3);
}
.futurico-theme .nivo-directionNav a {
    display: block;
    top: 60px;
    font-family: 'Consolas', sans-serif;
    font-size: 40px;
    color: #141517;
    text-shadow: 0px 1px 1px rgba(255,255,255, .05);
}
.futurico-theme a.nivo-prevNav { left: -5px; }
.futurico-theme a.nivo-nextNav { right: -5px; }
/*slide image*/

/*Layout Content-Right*/

/*Layout Footer*/
#footer {margin: 5px 0 0 15%;  padding-bottom: 100px; width: 58%;float: left;text-align: center;font-size: 18px;
}
/*Layout Footer*/



