
<link rel='stylesheet' href='stylesheets/login.css' />

<div id="login" >
    <div id="head">
        <img class="icon-login" src="../images/login.png"><h1>Log in</h1>
        <ul class="link-singup">
            <li><a href="singup">Sing up</a></li>
            <li><a href="./">Log out</a></li>
        </ul>

    </div>
    <form method="post" class="login" action="#">
        <fieldset class="textbox">
            <label class="username">
                <span>Username or email</span>
                <input id="username" name="username" value="" type="text" autocomplete="on" placeholder="Username">
            </label>
            <label class="password">
                <span>Password</span>
                <input id="password" name="password" value="" type="password" placeholder="Password">
            </label>
            <button class="submit button" type="button">Log in</button>
            <p>
                <a class="forgot" href="#">Forgot your password?</a>
            </p>
        </fieldset>
    </form>
</div>
